/*---------------------------------------------------------------------------------------*/
/* 제출하기 버튼에 대한 설정 */
#submitInfo {
    position: absolute;
    height: 56px;
    width: 398px;
    left: 399px;
    border-radius: 10px;
    border: 0;

    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    background-color: #9D1c20;
    top: 640px;
}