/* 페이지를 구성하는 클래스의 기본 설정 */

/* 페이지를 구성하는 7개의 흰색 sections */
.box {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 8px; /* 모서리 둥글게 */
    border: 1px solid #E2E5E6;
    box-sizing: border-box;
    border-radius: 8px;
}

/* 각 section의 제목 */
.text {
    position: absolute;
    width: 276px;
    height: 62px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.1px;
    color: #373F41;
    line-height: 40px;

    margin-left: 46px;
    margin-top: 46px;
}

/* section 하위 소제목 */
.textSub {
    position: absolute;
    width: 128px;
    height: 32px;
    margin-left: 56px;

    /* H4 - semibold 26 (32, 0.2px) */
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #373F41;

    white-space: nowrap; /* 줄바꿈 안 되도록 */
}

/* 화면 내 2가지의 버튼 (수정, 입력 완료) */
.button {
    position: absolute;

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 10px 20px; */
    padding-left: 15px;

    /* Button Background-color Light Black */
    background-color: #373F41;

    /* Text in Box */
    /* Subtitle 1 - semibold 16 (22, 0.1px) */
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1px;
    /* Text-color White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;

    /* 기타 공통 설정 */
    height: 42px;
    border-radius: 0px;
    
    border: none;
    outline: 0;

    white-space: nowrap; /* 줄바꿈 안 되도록 */
}
