/* 페이지 기본 폰트 설정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/*html 파일 전체에 적용되는 기본 배경 설정*/
html {
    position: relative;

    height: 1650px;
    width: 1434px;
    border-radius: 0px;

    background-color: #E5E5E5;
}










